body {
	margin-left: 0.507px;
}


.container {
	display: -webkit-box;
	display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  
	flex-flow: row wrap;
	justify-content: safe center;
	align-items: safe stretch;
	align-content: stretch;
}


h1 {
	font-family: Papyrus, fantasy; /*Find better font*/
	font-size: 3em;
	margin-left: auto;
	margin-right: auto;

	border-bottom: 2px solid pink;
	width: 450px;
	text-align: center;
	border-width: 3px;
	border-radius: 23.8px;
	
}


img {
	width:  450px;
	height: 300px;
	max-width:  900px;
	max-height: 600px;
	margin: 10px;
	transition: all 1.10099s;
	flex: 0 1 fit-content;
	object-fit: cover;
}

img:hover{
	transform: scale(1.2);
	/*animation: ;*/
}